.container {
  margin-top: 50px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.card {
  height: 100%;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  background-color: #2d3748;
  color: white;
  width: 250px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 20px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  margin: 10px 0;
}

.title {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}


.submenu {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.submenu-item {
  font-size: 16px;
  margin: 5px 0;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.text-link:hover {
  color: inherit;
  text-decoration: none;
}

.menu-item:hover,
.submenu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.table thead th {
  text-align: center;
}

.table td.description {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description-container {
  position: relative;
  margin-bottom: 1em;
}

.description {
  max-height: 6em; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; 
  transition: max-height 0.3s ease;
}

.description.expanded {
  max-height: none;
  overflow: visible;
}

.read-more {
  display: block;
  text-align: left;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-top: 0.5em; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-check-inline {
  margin-bottom: 10px;
}

.actors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.actor-box {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #e9ecef;
}

.actor-box span {
  margin-right: 10px;
}

.btn-close {
  font-size: 10px;
  margin-left: auto;
}
