html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.main-container {
  display: flex;
  min-height: 100vh; /* Ensure the container takes the full height */
}

.sidebar {
  background-color: #2d3748;
  color: white;
  width: 250px;
  min-height: 100vh; /* Ensure sidebar takes the full height */
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto; /* Enable scrolling if content exceeds the viewport height */
}

#main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto; /* Enable scrolling for main content as well */
}

.logo-container {
  margin-bottom: 20px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  margin: 10px 0;
}

.title {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}

.submenu {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.submenu-item {
  font-size: 16px;
  margin: 5px 0;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.text-link:hover {
  color: inherit;
  text-decoration: none;
}

.menu-item:hover,
.submenu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.table thead th {
  text-align: center;
}

.table td.description {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description-container {
  position: relative;
  margin-bottom: 1em;
}

.description {
  max-height: 6em; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; 
  transition: max-height 0.3s ease;
}

.description.expanded {
  max-height: none;
  overflow: visible;
}

.read-more {
  display: block;
  text-align: left;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-top: 0.5em; 
}
