<div class="sidebar">
  <div class="logo-container">
    <h1 class="logo-text">MasterMovie Admin</h1>
  </div>
  <ul class="menu">
    <li class="menu-item">
      <a href="/" class="title">Movies</a>
      <ul class="submenu">
        <li class="submenu-item">Validate</li>
        <li class="submenu-item">
          <a href="/addMovie" class="text-link">Input New Movie</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/countries" class="title">Countries</a>
    </li>
    <li class="menu-item">
      <a href="/awards" class="title">Awards</a>
    </li>
    <li class="menu-item">
      <span class="title">Genres</span>
    </li>
    <li class="menu-item">
      <a href="/actors" class="title">Actors</a>
    </li>
    <li class="menu-item">
      <a href="/comments" class="title">Comments</a>
    </li>
    <li class="menu-item">
      <span class="title">Users</span>
    </li>
    <li class="menu-item">
      <span class="title">Logout</span>
    </li>
  </ul>
</div>
